@model IEnumerable<XMLParserApplication.Models.Item>
<table id="main-table">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th>
                @Ajax.ActionLink("Rubrik", "Sort", new { sortOrder = ViewBag.NameSortParm, sortName = "title" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-holder", InsertionMode = InsertionMode.Replace }, new { @class = "sort-link" })
            </th>
            <th>
                @Ajax.ActionLink("Datum", "Sort", new { sortOrder = ViewBag.NameSortParm, sortName = "date" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-holder", InsertionMode = InsertionMode.Replace }, new { @class = "sort-link" })
            </th>
            <th>Länk</th>
        </tr>
    </thead>
    <tbody id="data">
        @foreach (var item in Model)
        {
            <tr>
                <td id="info@(item.Id)" class="info"></td>
                <td class="edit"></td>
                <td>@(item.Title)</td>
                <td>@(item.PublishedDate)</td>
                <td>
                    <a href="@(item.Link)" target="_blank">länk</a>
                </td>
            </tr>
            <tr class="sub-edit">
                <td colspan="5">
                    <form method="post" class="form-edit">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <b>Namn:</b>
                                </div>
                                <div class="col-md-12">
                                    <input type="hidden" id="item-id" value="@item.Id" name="id">
                                    <input type="text" id="item-name" value="@item.Name" placeholder="Mata in namn..." name="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <b>Email:</b>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" id="item-email" value="@item.Email" placeholder="Mata in email..." name="email">
                                </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="12">
                                <div class="col-md-12">
                                    <b>Kommentar:</b>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="item-comments" value="@item.Comment" placeholder="Mata in kommentar..." name="comment">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <input type="submit" id="button-save" value="Spara">
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr id="sub-info@(item.Id)" class="sub-info">
                <td colspan="5">
                    <div class="row">
                        <div class="col-md-2"><b>Beskrivning:</b></div>
                        <div class="col-md-10">@(item.Description)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><b>Kategori:</b></div>
                        <div class="col-md-10">@(item.Category)</div>
                    </div>
                    <div class="row">
                        @if (item.Name != null)
                        {
                            <div class="col-md-2"><b>Namn:</b></div>
                            <div class="col-md-4">@(item.Name)</div>
                        }
                
                        @if (item.Email != null)
                        {
                            <div class="col-md-2"><b>Email:</b></div>
                            <div class="col-md-4">@(item.Email)</div>
                        }                    
                    </div>
                    <div class="row">
                        @if (item.Comment != null)
                        {
                            <div class="col-md-2"><b>Kommentar:</b></div>
                            <div class="col-md-10">@(item.Comment)</div>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".info")
            .click(function (e) {
                e.preventDefault();
                $(this).toggleClass("active");
                $(this).parent().next("tr.sub-edit").removeClass("active");
                $(this).parent().next("tr.sub-edit").next("tr.sub-info").toggleClass("active");
            });

        $(".edit")
            .click(function (e) {
                e.preventDefault();
                $(this).siblings(".info").removeClass("active");
                $(this).parent().next("tr.sub-edit").next("tr.sub-info").removeClass("active");
                $(this).parent().next("tr.sub-edit").toggleClass("active");
            });

        $(".form-edit").submit(function(e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            var id;

            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Home")',
                data: formData,
                beforeSend: function() {},
                success: function(data) {
                    $('#table-holder').html(data);
                    $(formData).each(function(index, object) {
                        if (object.name === "id") {
                            id = object.value;
                        }
                    });
                    $('#info' + id).addClass("active");
                    $('#sub-info' + id).addClass("active");
                }
            });
        });
    });
</script>